    {% extends 'itrak/base.html' %}

    {% block body_block %}
        {% load static %}
        {% load tz %} {# it will Load the Django TimeZone Library#}
        {% load templates_extras %}
{#        {% get_current_timezone as TIME_ZONE %} {# it will Load the Current Time Zone List#}

				<section role="main" class="content-body">
					<header class="page-header">
                       <h2><i class="fa fa-ticket" aria-hidden="true"></i> Ticket</h2>

						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'home' %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Ticket</span></li>
								<li><span>Search Ticket Stats Results</span></li>
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
						<section class="panel">
							<header class="panel-heading">

                                <h3 class="text-primary text-bold">{{ statTitle }}</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <h4>
                                            <a onClick="javascript:history.go(-1);" class="text-bold"><span class="fa fa-arrow-circle-left"> </span> Back</a>
                                        </h4>
                                    </div>
                                </div>
							</header>
							<div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                       <h5 class="text-primary"><b>{{ statTitle }} </b></h5>
                                    </div>
                                </div>
 								<table class="table table-bordered table-striped table-condensed mb-none" id="datatable-default">
									<thead>
                                        <tr>
                                            <th>Ticket#</th>
                                            <th>Opened</th>
                                            <th>By</th>
                                            <th>Status</th>
                                            <th>Ticket Type</th>
                                            <th>Subject</th>
                                            <th>Assigned To</th>
                                            <th>Last Activity</th>
                                        </tr>
									</thead>
									<tbody>
                                        {% if tickets %}
                                            {% for ticket in tickets %}
                                                <tr class="gradeA">
                                                    <td><a href="Home_ViewTicket?tickID={% get_encrypted_id ticket.ticket_id %}" target="_blank" >{{ ticket.ticket_id }}</a> </td>
                                                    <td>{{ ticket.ticket_created_at|date:'m/d/Y' }}</td>
                                                    <td>{{ ticket.ticket_caller.display_name }}</td>
                                                    <td>{% if  ticket.ticket_status == 0 %}Opened{% else %}Close{% endif %} - {{ ticket.ticket_sub_status.sub_status_text }}</td>
                                                    <td>{{ ticket.ticket_type.ttype_name }}</td>
                                                    <td><a href="Home_ViewTicket?tickID={% get_encrypted_id ticket.ticket_id %}" target="_blank" >{{ ticket.subject }}</a> </td>
                                                    <td>{{ ticket.ticket_assign_to.display_name }}</td>
                                                    <td>{{ ticket.ticket_modified_at|date:'m/d/Y'}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
									</tbody>
								</table>
							</div>
						</section>
					<!-- end: page -->
				</section>
			</div>

    {% endblock %}

    {% block script %}

    {% endblock %}


