{% extends 'itrak/base.html' %}

{% block body_block %}
    {% load static %}

            <section role="main" class="content-body">
                <header class="page-header">
                   <h2><i class="fa fa-sitemap" aria-hidden="true"></i> Incoming Email</h2>

                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="{% url 'home' %}">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li><span>Incoming Email</span></li>
                            <li><span>Add Exclude Text</span></li>
                        </ol>

                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                    </div>
                </header>

                <!-- start: page -->
                     <div class="row">
                        <div class="col-md-12">
                            {% for message in messages %}
                                <div class="alert {% if 'success' in message.tags %} alert-success {% else %} alert-danger{% endif %} alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <form id="summary-form" action="{% url 'saveExcludeText' %}" method="post" class="form-horizontal">
                                {% csrf_token %}
                                <section class="panel">
                                    <header class="panel-heading">
{#                                            <div class="panel-actions">#}
{#                                                <a href="#" class="fa fa-caret-down"></a>#}
{#                                                <a href="#" class="fa fa-times"></a>#}
{#                                            </div>#}

                                        <h2 class="panel-title">Add Exclude Text</h2>
                                    </header>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <button class="btn btn-primary saveButton">Save</button>
                                                <button type="reset" class="btn btn-default">Reset</button>
                                            </div>
                                        </div>
                                    </footer>
                                    <div class="panel-body">
                                        <div class="validation-message">
                                            <ul></ul>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-4 control-label"><span class="required">*</span>Exclude this Text: </label>
                                            <div class="col-sm-5">
                                                <textarea name="etext_name" id="etext_name" title="Please Enter Exclude this Text"  class="form-control" rows="8" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <button class="btn btn-primary saveButton">Save</button>
                                                <button type="reset" class="btn btn-default">Reset</button>
                                            </div>
                                        </div>
                                    </footer>
                                </section>
                            </form>
                        </div>
                    </div>
                <!-- end: page -->
            </section>
        </div>

{% endblock %}

{% block script %}
    <script>
       

    </script>
{% endblock %}
