{% extends 'itrak/base.html' %}

{% block body_block %}
    {% load static %}

            <section role="main" class="content-body">
                <header class="page-header">
                    <h2><i class="fa fa-envelope" aria-hidden="true"></i> Incoming Email</h2>
                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="{% url 'home' %}">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li><span>Incoming Email</span></li>
                            <li><span>List All</span></li>
                        </ol>
                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                    </div>
                </header>

                <!-- start: page -->
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">IEM Mailbox List</h2>
                            <div class="pull-right">
                                <h5 class="text-danger text-bold">
                                    <!-- <a href="javascript:getXlsDownload(0)" id="xlsbrief_list" class=""><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export All Mail Servers</a> -->
                                </h5>
                            </div>
                        </header>
                        <div class="panel-body">
                             {% for message in messages %}
                                <div class="alert {% if 'success' in message.tags %} alert-success {% else %} alert-danger{% endif %} alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ message }}
                                </div>
                            {% endfor %}
{#                                data-url="{% static 'ajax/ajax-datatables-sample.json' %} "#}
                            <table class="table table-bordered table-striped datatable">
                                <thead>
                                    <tr>
                                        <th width="15%">Action</th>
                                        <th width="10%">Active</th>
                                        <th width="10%">Type</th>
                                        <th width="10%">Server</th>
                                        <th width="10%">Account ID</th>
                                        <th width="25%">Ticket Type Default</th>
                                        <th width="25%">Assignment Default</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </section>
                <!-- end: page -->
            </section>
        </div>
        <div id="popup-modal-content"></div>


       <!-- Modal Warning -->
    {# Delete Modal Popup on Delete#}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete a record, this procedure is irreversible.</p>
                    <strong>Do you want to proceed?</strong>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <form id="standard_form" name="standard_form" method="post" action="{% url 'export_users_by_organization_xls' %}"></form>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            var oTable = $('.datatable').dataTable({
                // ...
                columnDefs: [
                    {
                        name: 'action',
                        orderable: false,
                        searchable: false,
                        targets: [0]
                    },
                    {
                        name: 'is_active',
                        orderable: true,
                        searchable: true,
                        targets: [1]
                    },
                    {
                        name: 'server_type',
                        orderable: true,
                        searchable: true,
                        targets: [2]
                    },
                    {
                        name: 'mail_server',
                        orderable: true,
                        searchable: true,
                        targets: [3]
                    }
                    ,
                    {
                        name: 'account_id',
                        orderable: false,
                        searchable: false,
                        targets: [4]
                    }
                    ,
                    {
                        name: 'default_ticket_type',
                        orderable: false,
                        searchable: false,
                        targets: [5]
                    }
                    ,
                    {
                        name: 'assign_to',
                        orderable: false,
                        searchable: false,
                        targets: [6]
                    }
                ],
                "order": [[ 1, 'asc' ]],
                "processing": true,
                "serverSide": true,
                "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ],
                "stateSave": true,
                "ajax": "{% url 'mail_box_list_json' %}"
            });
            // ...
        });

    
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
        function getXlsDownload(id){
            $('#standard_form').trigger('submit');
        }
    </script>
{% endblock %}
