{% extends 'itrak/base.html' %}

{% block body_block %}
    {% load static %}

            <section role="main" class="content-body">
                <header class="page-header">
                   <h2><i class="fa fa-building-o" aria-hidden="true"></i> Organization</h2>
                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="{% url 'home' %}">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li><span>Organization</span></li>
                            <li><span>Organization List</span></li>
                        </ol>
                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                    </div>
                </header>

                <!-- start: page -->
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">Organization List</h2>
                            <div class="pull-right">
                                <h5 class="text-danger text-bold">
                                    <a href="javascript:getXlsDownload(0)" id="xlsbrief_list" class=""><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export All Users</a>
                                </h5>
                            </div>
                        </header>
                        <div class="panel-body">
                             {% for message in messages %}
                                <div class="alert {% if 'success' in message.tags %} alert-success {% else %} alert-danger{% endif %} alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <div id="Grid"></div>
                        </div>
                    </section>
                <!-- end: page -->
            </section>
        </div>
        
        
{% endblock %}

{% block script %}
    <script>
        $('#preloader').show();
    </script>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script>
    <!-- <link href="http://jo.fepsearchgroup.com/css/Interview/bootstrap.css" rel="stylesheet"> -->
    <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <script>
        var dataManger = new ej.data.DataManager({
            url: '{% url 'getOrgUsers' %}',
            adaptor: new ej.data.ODataAdaptor(),
            crossDomain: true
        });

        new ej.data.DataManager({ url: '{% url 'getAllOrgJson' %}', adaptor: new ej.data.UrlAdaptor }) 
        .executeQuery(new ej.data.Query()) 
        .then((e) => { 
            grid.dataSource = e.result; 
            $('#preloader').hide();
        }); 
        data =[]
        var grid = new ej.grids.Grid({
            dataSource: data,
            // toolbar: ['Search'],
            allowPaging: true,
            allowSorting: true,
            columns: [
                { field: 'org_id', headerText: 'ID', textAlign: 'Right', width: 125 },
                { field: 'org_name', headerText: 'Name', width: 125 },
                { field: 'is_internal', headerText: 'Internal Only?', width: 180 },
                // { field: 'City', headerText: 'City', width: 110 }
            ],
            childGrid: {
                dataSource: dataManger,
                queryString: 'org_id',
                columns: [
                    { field: 'username', headerText: 'ID', textAlign: 'Right', width: 120 },
                    { field: 'first_name', headerText: 'First', width: 120 },
                    { field: 'last_name', headerText: 'Last', width: 120 },
                ]
            },
        });
        grid.appendTo('#Grid');
    </script>
{% endblock %}
