{% extends 'itrak/base.html' %}

{% block body_block %}
    {% load static %}

            <section role="main" class="content-body">
                <header class="page-header">
                   <h2><i class="fa fa-user" aria-hidden="true"></i> Change Password</h2>

                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="{% url 'home' %}">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li><span>User</span></li>
                            <li><span>Change Password</span></li>
                        </ol>

                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                    </div>
                </header>
                <!-- start: page -->
                     <div class="row">
                        <div class="col-md-12">
                            {% for message in messages %}
                                <div class="alert {% if 'success' in message.tags %} alert-success {% else %} alert-danger{% endif %} alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <form id="summary-form" action="{% url 'userPasswordChange' %}" method="post" class="form-horizontal">
                                {% csrf_token %}
                                <input  type="hidden" name="user_id" value="{{user_id}}" id="user_id"/>
                                <section class="panel">
                                    <header class="panel-heading">
{#                                            <div class="panel-actions">#}
{#                                                <a href="#" class="fa fa-caret-down"></a>#}
{#                                                <a href="#" class="fa fa-times"></a>#}
{#                                            </div>#}

                                    <h2 class="panel-title">Change Password</h2>
                                    </header>
                                    <!-- <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <button class="btn btn-primary saveButton" disabled >Save</button>
                                                <button type="reset" class="btn btn-default">Reset</button>
                                            </div>
                                        </div>
                                    </footer> -->
                                    <div class="panel-body">
                                        <div class="validation-message">
                                            <ul></ul>
                                        </div>
                                        <div class="change-password">
                                            <div class="row">
                                                <div class="col-lg-5 col-md-5 col-sm-12">
                                                </br>
                                                <div class="form-group">
                                                    <label><strong>Password Requirements</strong></label>
                                                    <ul class="list-group text-muted" id="PasswordRequirements" data-min-length="8" data-require-mixed-case="False" data-require-alphanumeric="True">
                                                            <li id="passwordTooShortError" class="validatable list-group-item ">
                                                                Password must be at least 8 characters long
                                                            </li>
                                                            <li id="passwordRequiresAlphaNumeric" class="validatable list-group-item ">
                                                                    Password must contain letters and numbers
                                                                </li>
                                                            <li id="passwordsDoNotMatchError" class="validatable list-group-item  ">New and retyped passwords must match</li>
                                                    </ul>
                                                </div>
                                                    
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                <div class="col-lg-5 col-md-5 col-sm-12">
                                                <section class="panel">   
                                                    <header class="panel-heading"><h4>{{data.display_name}} ({{data.username}})</h4></header>
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label>New Password: </label>
                                                            <input type="password" id="password1" name="password1" class="form-control new_password1" title="Please fill out this field." placeholder="New Password"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Retype Password: </label>
                                                            <input type="password" id="password2" name="password2" class="form-control new_password1" title="Please fill out this field." placeholder="Retype Password"/>
                                                        </div></br></br>
                                                        <div class="form-group">
                                                            <label class="">Authorize Password Change: </label>
                                                            <input type="password" name="old_password" id="old_password" class="form-control old_password" title="Please fill out this field." placeholder="Enter Your Password"/>
                                                        </div>
                                                    </div>
                                                </section>
                                                     <br>
                                                </div>
                                            </div>
                                          </div>

                                    </div>

                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button class="btn btn-primary saveButton" disabled>Continue</button>
                                                <button type="reset" class="btn btn-default">Reset </button><small id="defaultValid"></small>
                                                <label class="required-lable"><span class="required">*</span> Required</label>
                                            </div>
                                        </div>
                                    </footer>
                                </section>
                            </form>
                        </div>
                    </div>
                <!-- end: page -->
            </section>
        </div>

{% endblock %}

{% block script %}
    <script>
        $(document).on('keyup','.new_password1', function(){
            var old_password = $('#old_password').val()
            var password1 = $('#password1').val();
            var password2 = $('#password2').val();
            chk = check();
            if (password1!= '' && password2!= ''){
                    if(password1 === password2){
                        if(chk == true){
                            $('#defaultValid').html('');
                            if(old_password != '')
                            {
                                $('.saveButton').prop('disabled', false);
                            }
                        }else{
                            $('#defaultValid').html('');
                            $('#defaultValid').html('<strong class="text-danger"> (Password must contain letters, numbers and must be 8 characters atleast!)</strong>');
                            $('.saveButton').prop('disabled', true);
                        }
                    }else{
                        $('#defaultValid').html('');
                        $('#defaultValid').html('<strong class="text-danger"> (Both Passwords did not match)</strong>');
                        $('.saveButton').prop('disabled', true);
                    }
            }
            else if(password1!='' && password2=='')
            {
                chk1 = check1();
                if(chk1 == true)
                {
                    $('#defaultValid').html('');
                }
                else
                {
                    $('#defaultValid').html('');
                    $('#defaultValid').html('<strong class="text-danger"> (Password must contain letters, numbers and must be 8 characters atleast!)</strong>');
                }
            }
            else
            {
                $('#defaultValid').html('');
                $('.saveButton').prop('disabled', true);
            }
        });

        $(document).on('keyup','.old_password', function(){
            var old_password = $('#old_password').val()
            var password1 = $('#password1').val();
            var password2 = $('#password2').val();
            chk = check();
            if (password1!= '' && password2!= '' && old_password!= ''){
                    if(password1 === password2){
                        if(chk == true){
                            $('#defaultValid').html('');
                            $('.saveButton').prop('disabled', false);
                        }
                    }else{
                        $('#defaultValid').html('<strong class="text-danger"> (Both Passwords did not match)</strong>');
                        $('.saveButton').prop('disabled', true);
                    }
            }else{
                $('.saveButton').prop('disabled', true);
            }
        });

        function check(){
            var password1 = $('#password1').val();
            var password2 = $('#password2').val();
            checker = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
            return(checker.test(password1) && checker.test(password2));
        }

        function check1(){
            var password1 = $('#password1').val();
            checker = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
            return(checker.test(password1));
        }
    </script>
{% endblock %}

