 {% include "itrak/includes/header.html" %}
   {% include "itrak/includes/top_bar.html" %}
      <body>
      {% block body_block %}
      {% load static %}
      {% load templates_extras %}
          <section role="main" class="content-body">
            <header class="page-header">
                <h2><i class="fa fa-ticket" aria-hidden="true"></i> Ticket</h2>
                <div class="right-wrapper pull-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li><span>Ticket</span></li>
                        <li><span>Search Results</span></li>
                    </ol>
                    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                </div>
            </header>
          <!-- start: page -->
          <section class="panel">
                <section class="panel">
							<header class="panel-heading custom-style">

                                <h3 class="text-primary text-bold"></h3>
                                    <div class="right-detail">
                                        <h5 class="text-danger text-bold">
{#                                            Export To Excel: <a href="javascript:getXlsDownload(0)" id="xlsbrief_list" class="">Brief</a> | <a href="javascript:getXlsDownload(1)" id="xlsdetail_list" class="">Detailed</a>#}
                                        </h5>
                                    </div>
							</header>
                            {% if output_view == 'BriefList' %}
							<div class="panel-body h5_mar_0">
								<a onClick="javascript:history.go(-1);" class="back-text"><span class="fa fa-arrow-circle-left"> </span> Back</a>
                                    {% if not fielddict.items %}
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4">
                                        <h5 class="text-primary"><b>Search Criteria: </b></h5>
                                    </div>
                                    <div class="col-md-3 col-sm-5">
                                        <span class="text-primary col-md-10 col-sm-10">All Records</span>
                                        </div>
                                    </div>
                                {% else %}
                                    {% for key,value in fielddict.items %}
                                        <div class="row">
                                            <div class="col-md-3 col-sm-4">
                                                <h5 class="text-primary"><b>{{ key }}: </b></h5>
                                            </div>
                                            <div class="col-md-3 col-sm-5">
                                                <span class="text-primary col-md-10 col-sm-10">{{ value }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                    <div class="row">
                                    </div>
                                    <div class="row">
                                    </div>
                                    {% if sortresponses %}
                                        <div class="row">
                                            <div class="col-md-3 col-sm-4">
                                                <h5 class="text-primary"><b>Sorted By: </b></h5>
                                            </div>
                                            <div class="col-md-3 col-sm-5">
                                                {% if sortresponses %}
                                                    {% for sortresponse in sortresponses %}
                                                        <span class="text-primary col-md-10 col-sm-10">{{ sortresponse }}</span>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-3 col-sm-4">
                                                <h5 class="text-primary"><b>Sorted By: </b></h5>
                                            </div>
                                            <div class="col-md-3 col-sm-5">
                                                <span class="text-primary col-md-10 col-sm-10">No sort selected</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                <form id="standard_form" name="standard_form" method="post" action="">
                                    <input type="hidden" name="tickets" value="">
                                    <input type="hidden" id="xlsType" name="xlsType" value="0">
                                </form>
                                <form id="stats_form" name="stats_form" method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="tickets" value="">
                                    <input type="hidden" id="startType" name="startType" value="Open">
                                </form>
                                <div class="table-responsive cus_user_search_table">
									<table class="table table-bordered table-striped table-condensed mb-none" id="datatable-default">
										<thead>
											<tr>
                                                    <th width="5%">Action</th>
	                                                <th>ID#</th>
	                                                <th>Type</th>
	                                                <th>Last</th>
	                                                <th>First</th>
	                                                <th>Department</th>
	                                                <th width="15%">Email</th>
	                                                <th>Phone Number</th>
                                                    <th>Status</th>


											</tr>
										</thead>
										<tbody>
                                        {% if users %}
                                            {% for user in users %}
                                                <tr class="gradeA">
                                                    <td><a href="{% url 'editUser' %}?UserID={% get_encrypted_id user.id %}" ><i class="fa fa-pencil"></i></a>|<a href="#" data-href="{% url 'deleteUser' %}?UserID={% get_encrypted_id user.id %}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i></a></td>
                                                    <td><a href="{% url 'viewUser' %}?UserID={% get_encrypted_id user.id %}">{{ user.username }}</a></td>
                                                    {% if user.user_type == '0' %}
                                                    <td>Agent</td>
                                                    {% else %}
                                                     <td>End User</td>
                                                    {% endif %}
                                                    <td>{{ user.last_name }}</td>
                                                    <td>{{ user.first_name }}</td>
                                                    <td>{{ user.user_dep.dep_name }}</td>
                                                    <td>{{ user.email }}</td>
                                                    <td>{{ user.phone_no }}</td>
                                                     <td>{{user.is_active }}</td>

                                                </tr>
                                            {% endfor %}
                                            {% else %}
                                            <td class="text-primary text-bold text-center" colspan="9">No Record Found.</td>
                                        {% endif %}
										</tbody>
									</table>
								</div>
							</div>
                            {% elif output_view == 'CountOnly' %}
                                <div class="panel-body h5_mar_0">
								<a onClick="javascript:history.go(-1);" class="back-text"><span class="fa fa-arrow-circle-left"> </span> Back</a>

                                    <div class="row">
                                        <div class="col-md-3 col-sm-4">
                                        <h5 class="text-primary"><b>Search Criteria: </b></h5>
                                    </div>
                                    <div class="col-md-3 col-sm-5">
                                        <span class="text-primary col-md-10 col-sm-10">User Search Result</span>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-4">
                                                <h5 class="text-primary"><b></b></h5>
                                            </div>
                                            <div class="col-md-3 col-sm-5">
                                                <span class="text-primary col-md-10 col-sm-10"></span>
                                            </div>
                                        </div>
                                    <div class="row">
                                    </div>
                                    <div class="row">
                                    </div>
                                    {% if is_count %}
                                        <div class="row">
                                            <div class="col-md-3 col-sm-4">
                                                <h5 class="text-primary"><b>Number of User: </b></h5>
                                            </div>
                                            <div class="col-md-3 col-sm-5">
                                                {% if is_count %}
                                                      <span class="text-primary col-md-10 col-sm-10">{{ is_count }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                        </div>
                                    {% endif %}
                                <form id="standard_form" name="standard_form" method="post" action="">
                                    <input type="hidden" name="tickets" value="">
                                    <input type="hidden" id="xlsType" name="xlsType" value="0">
                                </form>
                                <form id="stats_form" name="stats_form" method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="tickets" value="">
                                    <input type="hidden" id="startType" name="startType" value="Open">
                                </form>
							</div>
                {% endif %}
						</section>
          </section>
          <!-- end: page -->
          </section>
          <!-- Confirm Delete Modal Start -->
            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                        </div>

                        <div class="modal-body">
                            <p>You are about to delete a record, this procedure is irreversible.</p>
                            <strong>Do you want to proceed?</strong>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger btn-ok">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
          <!-- Confirm Delete Modal End -->
    {% endblock %}
      </body>
    {% include "itrak/includes/footer.html" %}
    {% block script %}
    <script>
    // $('.back-text').on('click', function(e){
    //     dept_val = localStorage.getItem("dep_id");
    //     $("#dep_id").select2("val", dept_val)
    //     console.log('asdsa',dept_val);
    // });
    
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
    </script>
    
    {% endblock %}