{% extends 'itrak/base.html' %}

{% block body_block %}
    {% load static %}
    {% load templates_extras %}
    {% load tz %} {# it will Load the Django TimeZone Library#}
{#        {% get_current_timezone as TIME_ZONE %} {# it will Load the Current Time Zone List#}

            <section role="main" class="content-body">
                <header class="page-header">
                   <h2><i class="fa fa-user-circle-o" aria-hidden="true"></i> User</h2>

                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="{% url 'home' %}">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li><span>User</span></li>
                            <li><span>View User</span></li>
                        </ol>

                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                    </div>
                </header>

                <!-- start: page -->
                     <div class="row">
                        <div class="col-md-12">
                            {% for message in messages %}
                                <div class="alert {% if 'success' in message.tags %} alert-success {% else %} alert-danger{% endif %} alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <form id="summary-form" action="{% url 'updateViewGroupMembershipUser' %}" method="post" class="form-horizontal">
                                {% csrf_token %}
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h2 class="panel-title">View User </h2>
                                    </header>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                {% if data.user_type == '2' %}
                                                {% else %}
                                                <a href="{% url 'editUser' %}?UserID={% get_encrypted_id data.id %}" data-hover="Edit User" class="mb-xs mt-xs mr-xs btn btn-primary">Edit</a>
                                                <a href="#" data-href="{% url 'deleteUser' %}?UserID={% get_encrypted_id data.id %}" data-hover="Delete User" class="mb-xs mt-xs mr-xs btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </footer>
                                    <div class="panel-body">
                                        <div class="validation-message">
                                            <ul></ul>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 control-label">User Type:</label>
                                            <div class="col-md-4 col-sm-4">
                                                    {% if data.user_type == '1' %}
                                                        <label >End User</label>
                                                    {% elif data.user_type == '0' %}
                                                        <label >Agent</label>
                                                    {% endif %}
                                            </div>
                                                <a href="#modalUserTickets" onclick="GetTicketsList(event,{{ data.id }});" style="float: right;">View Tickets</a>
                                        </div>
                                                                                 
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">User ID: </label>
                                            <div class="col-sm-4">
                                                <label>{{ data.username }}</label>
                                                <input type="hidden" name="user_id" value="{{ data.id}}" id="user_id"/>
                                            </div>
                                            <div class="col-sm-4">
                                                <span id="usernameValid"></span>
                                            </div>

                                        </div>
                                        <!-- <div class="form-group">
                                            <label class="col-sm-3 control-label">Photo:</label>
                                            <div class="col-sm-4">
                                                <a class="DetailsLink"  data-toggle="modal" data-target="#updatePhotoModal" title="Update Photo" href="javascript:void(0)" id="a_userPhoto">update photo</a>
                                            </div>
                                            <div class="col-sm-4">
                                                <span id="usernameValid"></span>
                                            </div>

                                        </div> -->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">First Name: </label>
                                            <div class="col-sm-4">
                                                <label>{{ data.first_name }}</label>                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Last Name: </label>
                                            <div class="col-sm-4">
                                                <label>{{ data.last_name }}</label>                                             </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Display Name: </label>
                                            <div class="col-sm-4">
                                                <label>{{ data.display_name  }}</label>                                             </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Last Login: </label>
                                            <div class="col-sm-4">
                                                <label>{{ data.last_login }}</label>                                             </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Created By: </label>
                                            <div class="col-sm-4">
                                                <label>{{request.user.display_name}} on {{ data.created_at }}</label>                                             </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Modified By: </label>
                                            <div class="col-sm-4">
                                                <label>{{data.display_name}} on {{ data.modified_at }}</label>                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label" for="inputSuccess">Active:</label>
                                             <div class="col-sm-6">
                                                    {% if data.is_active == True %}
                                                     <label>Yes</label>
                                                     {% else %}
                                                     <label>No</label>
                                                     {% endif %}
                                                 </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="inputSuccess">Can Log In:</label>
                                            <div class="col-sm-6">
                                                   {% if data.login_permit == True %}
                                                    <label>Yes</label>
                                                    {% else %}
                                                    <label>No</label>
                                                    {% endif %}
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="inputSuccess">Sys Admin:</label>
                                            <div class="col-sm-6">
                                                   {% if data.sys_admin == True %}
                                                    <label>Yes</label>
                                                    {% else %}
                                                    <label>No</label>
                                                    {% endif %}
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="inputSuccess">Show Debug:</label>
                                            <div class="col-sm-6">
                                                   {% if data.show_debug == True %}
                                                    <label>Yes</label>
                                                    {% else %}
                                                    <label>No</label>
                                                    {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Phone:</label>
                                            <div class="col-sm-4">
                                                <label>{{ data.phone_no }}</label>                                             </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Email:</label>
                                            <div class="col-sm-4">
                                                <label>{{ data.email }}</label>                                            </div>
                                            <div class="col-sm-4">
                                                <span id="emailValid"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Mobile/SMS Email:</label>
                                            <div class="col-sm-4">
                                                <label>{{ data.mob_sms_email }}</label>                                             </div>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label" for="inputSuccess">Suppress All Email:</label>
                                             <div class="col-sm-6">
                                                {% if data.suppress_email == True %}
                                                <label>Yes</label>
                                                {% else %}
                                                <label>No</label>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 control-label">Organization: </label>
                                            <div class="col-md-4 col-sm-4">
                                                {% if data.organizations %}
                                                        {% for org in data.organizations %}
                                                            {% if org.org_id == data.user_org_id %}
                                                            <label>{{ org.org_name }}</label>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 control-label">Department: </label>
                                            <div class="col-md-4 col-sm-4">
                                                    {% if data.departments %}
                                                        {% for dep in data.departments %}
                                                            {% if dep.dep_id == data.user_dep_id %}<label>{{ dep.dep_name }}</label>{% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 control-label">Account: </label>
                                            <div class="col-md-4 col-sm-4">
                                                    {% if accounts %}
                                                    <label>
                                                        {% for account in accounts %}
                                                            {{ account.acc_name }},
                                                        {% endfor %}
                                                    </label>
                                                    {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 col-sm-3 control-label">TimeZone: </label>
                                            <div class="col-md-4 col-sm-4">
                                                {% if timezones %}
                                                        {% for tz in timezones %}
                                                            {% if tz == data.user_time_zone %} <label>{{ tz }}</label>{% endif %}   
                                                        {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="address1">Address 1:</label>
                                            <div class="col-sm-4">
                                                <label>{{ data.address1 }}</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="address2">Address 2:</label>
                                            <div class="col-sm-4">
                                                <label>{{ data.address2 }}</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="city_state_zip">City/State/Zip:</label>
                                            <div class="col-sm-4">
                                                <label>{{ data.user_city }}</label>
                                            </div>
                                           <div class="col-sm-2 col-xs-6 all-space-auto">
                                                <label>{{ data.user_state }}</label>
                                            </div>
                                           <div class="col-sm-2 col-xs-6 all-space-auto">
                                                <label>{{ data.user_zip_code }}</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Country:</label>
                                            <div class="col-sm-4">
                                                <label>{{ data.user_country }}</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        <label class="col-sm-3 control-label">Default Home Page:</label>
                                        <div class="col-md-4 col-sm-4">
                                                {% if settings1 %}
                                                    {% if settings1.m_default_page == "home" %}
                                                        <label>Dashboard</label>
                                                    {% elif settings1.m_default_page == "Home_MyTicket#assignee" %}
                                                        <label>Assigned To Me</label>
                                                    {% elif settings1.m_default_page == "Home_MyTicket#submitter" %}
                                                        <label>My Tickets</label> 
                                                    {% elif settings1.m_default_page == "Home_MyTicket#next_action" %}
                                                        <label>Next Actioned To Me</label> 
                                                    {% elif settings1.m_default_page == "Home_MyTicket#submitter#" %}
                                                        <label>Submitted By Me</label> 
                                                    {% elif settings1.m_default_page == "Home_MyTicket" %}
                                                        <label>Summary of All</label> 
                                                    {% elif settings1.m_default_page == "Home_GetReport" %}
                                                        <label>Reports</label>     
                                                    {% elif settings1.m_default_page == "Home_SearchTicket" %}
                                                        <label>Search Tickets</label> 
                                                    {% elif settings1.m_default_page == "Home_SubmitTicket" %}
                                                        <label>Submit Ticket</label> 
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Redirect To:</label>
                                            <div class="col-md-4 col-sm-4">
                                                {% if settings1 %}
                                                    {% if settings1.m_redirect_to == "home" %}
                                                        <label>Dashboard</label>
                                                    {% elif settings1.m_redirect_to == "TicketView" %}
                                                        <label>TicketView</label>
                                                    {% elif settings1.m_redirect_to == "Home_MyTicket" %}
                                                        <label>My Tickets</label> 
                                                    {% elif settings1.m_redirect_to == "Home_SubmitTicket" %}
                                                        <label>Submit Ticket</label> 
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Group Membership</label>
                                            <div class="col-md-6">
                                                <select class="form-control" multiple="multiple" data-plugin-multiselect data-plugin-options='{ "includeSelectAllOption": true }' name="group_membership" id="group_membership">
                                                    {% if data.group_list %}
                                                        {% for group_id, group_display_name in data.group_list %}
                                                             <option value="{{ group_id }}" {% if group_id in data.allowed_groups%}selected{% endif %}>{{ group_display_name }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>&nbsp;<button class="btn btn-primary saveButton">Add group</button>
                                            </div>
                                        </div>

                                        {# Permission Start Here#}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="country">User Permission:</label>
                                            <div class="col-sm-4">
                                                <span class="fa fa-question-circle"></span>
                                            </div>
                                        </div>                                            
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="country">Menu Options/Pages Allowed:</label>
                                        </div>
                                        <div class="form-group">
                                             <label class="col-sm-3 control-label" for="inputSuccess"></label>
                                             <div class="col-sm-6">
                                                 {% for submenu in sidebar.sub_menus %}
                                                    {% if submenu.submenu_permit_active == 1 %}
                                                        <div class="checkbox">
                                                             <label>
                                                                <input disabled="disabled" type="checkbox" name="submenus" id="{{ submenu.submenu_id }}" value="{{ submenu.submenu_id }}" {% if submenu.submenu_id in submenus_allowed  %}checked{% endif %}>
                                                                 <p>{{ submenu.submenu_name }} </p>
                                                             </label>
                                                         </div>
                                                    {% endif %}
                                                 {% endfor %}
                                                 {% for menu in sidebar.menus %}
                                                    {% if menu.menu_permit_active == 1 %}
                                                            <div class="checkbox">
                                                                 <label>
                                                                    <input  disabled="disabled" type="checkbox" name="menus" id="{{ menu.menu_id }}" value="{{ menu.menu_id }}" {% if menu.menu_id in menus_allowed  %}checked{% endif %}>
                                                                     <p>{{ menu.menu_name }} </p>
                                                                 </label>
                                                            </div>
                                                    {% endif %}
                                                 {% endfor %}
                                            </div>
                                        </div>

                                        {# Permission Ends Here#}
                                        <br>
                                        <!-- <div class="form-group">
                                            <label class="col-sm-3 control-label" for="country">* Default Home Page:</label>
                                            <div class="col-sm-4">
                                                <select class="form-control input-medium" name="home_page" id="home_page">             
                                                <option value="My Tickets">My Tickets</option>
                                                <option value="Submitted By Me">Submitted By Me</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="country">Redirect To:</label>
                                            <div class="col-sm-4">
                                                <select class="form-control input-medium" name="redirect_to" id="redirect_to">
                                                <option value="CSIssue_View.asp">Ticket View</option>
                                                <option value="TrakHome.asp">My Tickets</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        {% for permission in permissions %}
                                        <div class="form-group">
                                        <label id="section_{{permission.perm_sect_id}}" class="col-sm-3 control-label {% if data.user_type == "1" and "Agent Permissions:" == permission.permission %}not-available{% endif %}">{{permission}}</label>
                                        <label class="col-sm-9 control-label" for="inputSuccess"></label>
                                            <div class="col-sm-9 col-sm-offset-3">
                                            {% for parent in permission.permission_action.all %}
                                                {%if parent.is_active == 1%}
                                                <div class="checkbox">
                                                    <label>
                                                    <input  disabled="disabled" type="checkbox" name="permission_action" id="action_{{ parent.perm_act_id }}" {% if parent.perm_act_id in disabled_actions %}disabled{% endif %} value="{{ parent.perm_act_id }}" {% if parent.perm_act_id in actions_list or user_id|checkUserHasAlreadyPermisisonsFromGroups:parent.perm_act_id %}checked{% endif %}>
                                                        <p {% if parent.perm_act_id in disabled_actions %}class="not-available"{% endif %}> {{ parent }} </p>
                                                    </label>
                                                    <!-- Check where group have already permissioned for this user -->
                                                    {% if user_id|checkUserHasAlreadyPermisisonsFromGroups:parent.perm_act_id %}
                                                    <span><a onclick="showGroupsnWhichGivesPermisison({{user_id}}, {{parent.perm_act_id}});" style="cursor: pointer;text-decoration: none;">Group Permissions</a></span>
                                                    {% endif %}
                                                </div>
                                                {%endif%} 
                                                {% for child in parent.permission_sub_action.all %}
                                                    {%if child.is_active == 1%}
                                                    <label for="" class="control-label"></label>
                                                    <div class="col-sm-12">
                                                        <div class="checkbox">
                                                            <label>
                                                            <input  disabled="disabled" type="checkbox" name="permission_sub_action" id="sub_action_{{ child.sub_act_id }}" {% if child.sub_act_id in disabled_sub_action %}disabled{% endif %} value="{{ child.sub_act_id }}" {% if child.sub_act_id in sub_actions_list  %}checked{% endif %}>
                                                                <p {% if child.sub_act_id in disabled_sub_action %}class="not-available"{% endif %}>{{ child }} </p>
                                                            </label>
                                                        </div>
                                                    </div>  
                                                    {%endif%}   
                                                {% endfor %} 
                                            {% endfor %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- <div class="form-group">
                                            <label class="col-sm-3 control-label">Email Notification:</label>
                                            <div class="col-sm-9" style="margin-top: 7px;">
                                                <a href="{% url 'userEmailNotification' %}?UserID={{data.id}}">Email Distribution Lists</a>
                                            </div>
                                        </div> -->
                                    </div>
                                    
                                </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-9">
                                            </div>
                                        </div>
                                    </footer>
                                </section>
                            </form>
                        </div>
                    </div>
                <!-- end: page -->
            </section>
        </div>
        <!-- Modal Form For User Tickets-->

<div class="popup-modal-content">
   <div id="modalUserTickets" class="modal modal-block modal-block-primary modal-dialog custom-lg-modal">
       <section class="panel">
           <header class="panel-heading">
               <h2 class="panel-title">Tickets for {{ data.username }} </h2>
           </header>
           <div class="panel-body">
               {% if tickets %}
                   <table class="table table-bordered table-task-modal">
                       <thead>
                       <tr>
                           <th>Ticket#</th>
                           <th>Opened</th>
                           <th>Status</th>
                           <th>Issue Type</th>
                           <th>Subject</th>
                           <th>Assigned To</th>
                           <th>Priority</th>
                       </tr>
                       </thead>
                       <tbody>
                           {% for ticket in tickets %}
                           <tr>
                               <td><a href="Home_ViewTicket?tickID={% get_encrypted_id ticket.ticket_id %}" target="_blank" >{{ ticket.ticket_id }}</a></td>
                               {% get_tickets_dateTime_by_timezone ticket.ticket_created_at request.user.id as dateTime %}
                               <td>{{ dateTime }}</td>
                               <!-- <td>{{ ticket.ticket_created_at|date:'d-M-Y' }}</td> -->
                               <td>{% if ticket.ticket_status == 0 %}Open{% else %}Closed{% endif %}</td>
                               <td>{{ ticket.ticket_type.ttype_name }}</td>
                               <td>{{ ticket.subject }}</td>
                               <td>{{ ticket.ticket_assign_to }}</td>
                               <td>{{ ticket.priority.priority_name }}</td>
                           </tr>
                           {% endfor %}
                       </tbody>
                   </table>
                   {% else %}
                   <p>No Record Found</p>
               {% endif %}
           </div>
           <footer class="panel-footer">
               <div class="row">
                   <div class="col-md-12 text-right">
                   <button class="btn btn-default modal-dismiss" data-dismiss="modal">Close</button>
               </div>
               </div>
           </footer>
       </section>
   </div>
</div>
<!-- Modal Form For Org Tickets End -->
           <div class="modal fade" id="updatePhotoModal" role="dialog">
        <div class="modal-dialog">    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><b>Add User Photo</b></h4>
            </div>
            <div class="modal-body">
                <p><strong><i>To update a photo, first select a file and then click Save</i></strong></p>
                <p>(File best viewed at 150x150 pixels; must be less than 500Kb)</p>
                <div class="form-group">
                <form method="post" action="{% url 'saveUserFiles' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="file" class="" name="upload_photo" id="upload_photo">
                        <br>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        
        </div>
    </div>
    <!-- Confirm Delete Modal Start -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete a record, this procedure is irreversible.</p>
                    <strong>Do you want to proceed?</strong>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="showGroupsModal" role="dialog">
        <div class="modal-dialog">    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b>Groups which have already given this permission</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <thead>
                                    <th>Group Name</th>
                                </thead>
                                <tbody id="table-data">
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirm Delete Modal End -->
{% endblock %}


{% block script %}
    <script>
    function GetTicketsList(event, user_id){
    $('#modalUserTickets').modal("show");

    }
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
    function showGroupsnWhichGivesPermisison(user_id, per_id){
        $.ajax({
            type: 'POST',
            url: "{% url 'showGroupsnWhichGivesPermisison' %}",
            data: {user_id: user_id, per_id: per_id},
            dataType: 'json',
            success: function(data, textStatus, jqXHR) {
                $("#showGroupsModal").modal('show');
                $("#table-data").html("");
                for (i = 0; i < data.length; i++) {
                    $("#table-data").append("<tr><td><a href='/portal/atg-extra/Home_ViewGroup?GrpID="+data[i].group_id+"' target='_blank'>"+data[i].group_name+"</a></td></tr>");
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(textStatus + '. ' + errorThrown);
            }
        });
    }
    </script>
    
{% endblock %}


