    {% extends 'itrak/base.html' %}

    {% block body_block %}
        {% load static %}
        {% load tz %} {# it will Load the Django TimeZone Library#}
{#        {% get_current_timezone as TIME_ZONE %} {# it will Load the Current Time Zone List#}

				<section role="main" class="content-body">
					<header class="page-header">
                       <h2><i class="fa fa-info-circle-o" aria-hidden="true"></i> Client Information</h2>

						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'home' %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Client Information</span></li>
								<li><span>Add Client Information</span></li>
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
                         <div class="row">
                            <div class="col-md-12">
                                {% for message in messages %}
                                    <div class="alert {% if 'success' in message.tags %} alert-success {% else %} alert-danger{% endif %} alert-dismissible" role="alert">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <form id="summary-form" action="{% url 'saveClientInfo' %}" method="post" class="form-horizontal">
                                    {% csrf_token %}
                                    <section class="panel">
                                        <header class="panel-heading">
{#                                            <div class="panel-actions">#}
{#                                                <a href="#" class="fa fa-caret-down"></a>#}
{#                                                <a href="#" class="fa fa-times"></a>#}
{#                                            </div>#}

                                            <h2 class="panel-title">Add Client Information</h2>
                                        </header>
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <button class="btn btn-primary saveButton">Save</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </footer>
                                        <div class="panel-body">
                                            <div class="validation-message">
                                                <ul></ul>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label"><span class="required">*</span>Record Locator: </label>
                                                <div class="col-md-4 col-sm-5">
                                                    <input type="text" name="record_locator" id="record_locator" class="form-control" title="Please enter Record Locator." placeholder="eg.: ABC" required/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span id="record_locatorValid"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label">Caller Name: </label>
                                                <div class="col-md-4 col-sm-5">
                                                    <input type="text" name="caller_name" class="form-control" title="Plase enter Caller Name." placeholder="eg.: ABC" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label">Caller Phone:</label>
                                                <div class="col-md-4 col-sm-5">
                                                    <input name="phone" id="phone" data-plugin-masked-input data-input-mask="(999) 999-9999" placeholder="(123) 123-1234" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label">Caller Email:</label>
                                                <div class="col-md-4 col-sm-5">
                                                    <input type="email" name="email" class="form-control" title="Please enter a valid email address." placeholder="eg.: example@xyz.com"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label" for="passenger_name">Passenger Name:</label>
                                                <div class="col-md-4 col-sm-5">
                                                    <input type="text" class="form-control" name="passenger_name" id="passenger_name">
                                                </div>
                                            </div>

                                        </div>
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <button class="btn btn-primary saveButton">Save</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </footer>
                                    </section>
                                </form>
                            </div>
                        </div>
					<!-- end: page -->
				</section>
			</div>

    {% endblock %}

    {% block script %}
        <script>
            $(document).on('keyup','#record_locator', function(){
              var fieldValue = $(this).val();
              if (fieldValue != ''){
                  $.ajax({
                    type: 'POST',
                    url: "{% url 'validateAddUnique' %}",
                    data: {fieldValue: fieldValue, tbl_name: 'ClientInformation', tbl_field: 'record_locator', tbl_dlt_field: 'clientinfo_is_delete'},
                    dataType: 'json',
                    beforeSend: function(jqXHR, settings) {
                        //Do something before send...
                    },
                    success: function(data, textStatus, jqXHR) {
                        if(data.response){
                            $('#record_locatorValid').html('<strong class="text-danger">Record Locator already exist. Try another one!</strong>');
                            $('.saveButton').prop('disabled', true);
                        }else{
                            $('#record_locatorValid').html('');
                            $('.saveButton').prop('disabled', false);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus + '. ' + errorThrown);
                    }
                  });
              }
            });

        </script>
    {% endblock %}

