<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Edit<span class="btn btn-danger modal-dismiss" style="float:right;">X</span></h2>
    </header>
    <div class="panel-body">
        <p><b>Priority: </b>{{ priority.priority_name }}</p>
        <p><b>User: </b>{{ user.display_name }}</p>
        <br>
        <p><b>Standard User Types</b></p>
        <form action="{% url 'updatePriorityEmailMobileNotifications' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="priority_id" id="priority_id" value="{{ priority.priority_id }}">
            <input type="hidden" name="user_id" id="user_id" value="{{ user.id }}">
            <table class="table table-striped table-hover">
                <tr>
                    <th></th>
                    <th>Email</th>
                    <!-- <th>Mobile</th> -->
                </tr>
                {% for action in priority_actions %}
                    <tr>
                        <td>{{ action.pri_action_name }}</td>
                        <td><input type="checkbox" name="email" value="{{ action.pri_action_id }}" {% if action.pri_action_id in email_permit %}checked{% endif %}></td>
                        <!-- <td><input type="checkbox" name="mobile" value="{{ action.t_action_id }}" {% if action.t_action_id in mobile_permit %}checked{% endif %}></td> -->
                    </tr>
                {% endfor %}
            </table>
            <div style="float:right">
                <input type="submit" value="Update" class="btn btn-primary">
                <input type="button" value="Reset" onclick="modal_reset({{ priority.priority_id }},{{ user.id }})" class="btn btn-default">
            </div>
        </form>
    </div>
</section>