    {% extends 'itrak/base.html' %}

    {% block body_block %}
        {% load static %}
        {% load tz %} {# it will Load the Django TimeZone Library#}
{#        {% get_current_timezone as TIME_ZONE %} {# it will Load the Current Time Zone List#}

				<section role="main" class="content-body">
					<header class="page-header">
                       <h2><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Priority</h2>

						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'home' %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Priority</span></li>
								<li><span>Edit Priority</span></li>
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
                         <div class="row">
                            <div class="col-md-12">
                                {% for message in messages %}
                                    <div class="alert {% if 'success' in message.tags %} alert-success {% else %} alert-danger{% endif %} alert-dismissible" role="alert">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <form id="summary-form" action="{% url 'updatePriority' %}" method="post" class="form-horizontal">
                                    {% csrf_token %}
                                    <section class="panel">
                                        <header class="panel-heading">
{#                                            <div class="panel-actions">#}
{#                                                <a href="#" class="fa fa-caret-down"></a>#}
{#                                                <a href="#" class="fa fa-times"></a>#}
{#                                            </div>#}

                                            <h2 class="panel-title">Edit Priority </h2>
                                        </header>
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <button class="btn btn-primary">Update</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </footer>
                                        <div class="panel-body">
                                            <div class="validation-message">
                                                <ul></ul>
                                            </div>
                                            <input type="hidden" name="priority_id" value="{{ data.priority_id }}"/>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label m_p_right_0"><span class="required">*</span>Priority: </label>
                                                <div class="col-md-5 col-sm-6">
                                                    <input type="text" name="priority_name" id="priority_name" value="{{ data.priority_name }}" class="form-control" title="Plase enter Priority." placeholder="eg.: ABC" required/>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span id="priorityValid"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label m_p_right_0">Display Order: </label>
                                                <div class="col-md-3 col-sm-6">
                                                    <input type="text" name="display_order" class="form-control" value="{{ data.p_display_order }}" title="Plase enter Display Order." placeholder="eg.: 1" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label m_p_right_0" for="textareaDefault"><code>(optional)</code>Popup Message</label>
                                                <div class="col-md-5 col-sm-6">
                                                    <textarea class="form-control" rows="3" name="popup_msg" id="popup_msg" data-plugin-maxlength maxlength="256">{{ data.popup_message }}</textarea>
                                                    <p>
                                                        <code>max-length</code> set to 256 characters.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label m_p_right_0"><code>(optional)</code>Priority Color</label>
                                                <div class="col-md-3 col-sm-6">
                                                    <input type="text" name="priority_color" id="priority_color" value="{{ data.priority_color }}" data-plugin-colorpicker class="colorpicker-default form-control" value="#8fff00"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Email Notification:</label>
                                                <div class="col-sm-8">
                                                    <a href="{% url 'priorityEmailNotification' %}?priorityID={{data.priority_id}}" target="_blank">View/Maintain Distribution List...</a>
                                                </div>
                                            </div>
                                        </div>
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-primary">Update</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </footer>
                                    </section>
                                </form>
                            </div>
                        </div>
					<!-- end: page -->
				</section>
			</div>

    {% endblock %}


