    {% extends 'itrak/base.html' %}

    {% block body_block %}
        {% load static %}

				<section role="main" class="content-body">
					<header class="page-header">
                       <h2><i class="fa fa-sitemap" aria-hidden="true"></i> Department</h2>

						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'home' %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Department</span></li>
								<li><span>Add Department</span></li>
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
                         <div class="row">
                            <div class="col-md-12">
                                {% for message in messages %}
                                    <div class="alert {% if 'success' in message.tags %} alert-success {% else %} alert-danger{% endif %} alert-dismissible" role="alert">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <form id="summary-form" action="{% url 'saveDepartment' %}" method="post" class="form-horizontal">
                                    {% csrf_token %}
                                    <section class="panel">
                                        <header class="panel-heading">
{#                                            <div class="panel-actions">#}
{#                                                <a href="#" class="fa fa-caret-down"></a>#}
{#                                                <a href="#" class="fa fa-times"></a>#}
{#                                            </div>#}

                                            <h2 class="panel-title">Add Department</h2>
                                        </header>
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <button class="btn btn-primary saveButton">Save</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </footer>
                                        <div class="panel-body">
                                            <div class="validation-message">
                                                <ul></ul>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label"><span class="required">*</span>Department Name: </label>
                                                <div class="col-sm-5">
                                                    <input type="text" name="dept_name" id="dept_name" class="form-control" title="Please enter Department Name." placeholder="eg.: ABC" required/>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span id="departmentValid"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
												 <label class="col-md-3 col-sm-4 control-label" for="inputSuccess">Internal Ticket:</label>
												 <div class="col-sm-8">
													 <div class="checkbox">
														 <label>
															<input type="checkbox" name="is_internal" value="1" checked>
                                                             <i>Prevent viewing of other department' Tickets</i>
													 	 </label>
													 </div>
                                                </div>
											  </div>
                                        </div>
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <button class="btn btn-primary saveButton">Save</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </footer>
                                    </section>
                                </form>
                            </div>
                        </div>
					<!-- end: page -->
				</section>
			</div>

    {% endblock %}

    {% block script %}
        <script>
            $(document).on('keyup','#dept_name', function(){
              var fieldValue = $(this).val();
              if (fieldValue != ''){
                  $.ajax({
                    type: 'POST',
                    url: "{% url 'validateAddUnique' %}",
                    data: {fieldValue: fieldValue, tbl_name: 'Department', tbl_field: 'dep_name', tbl_dlt_field: 'd_is_delete'},
                    dataType: 'json',
                    beforeSend: function(jqXHR, settings) {
                        //Do something before send...
                    },
                    success: function(data, textStatus, jqXHR) {
                        if(data.response){
                            $('#departmentValid').html('<strong class="text-danger">Department Name already exist. Try another one!</strong>');
                            $('.saveButton').prop('disabled', true);
                        }else{
                            $('#departmentValid').html('');
                            $('.saveButton').prop('disabled', false);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus + '. ' + errorThrown);
                    }
                  });
              }
            });

        </script>
    {% endblock %}
