<!-- Modal Form For Iorad -->
{% load templates_extras %}
<div class="popup-modal-content">
    <div id="modalIoradAdd" class="modal modal-block modal-block-primary modal-dialog">
        <section class="panel">
            <form  method="post" action="{% url 'deleteIorad' %}">
                {% csrf_token %}
                <header class="panel-heading custom-style">
                    <h2 class="panel-title">Delete Iorad Tutorial</h2>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            Did you want to remove this Iorad Tutorial.
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <input type="hidden" name="iorad_id" value="{{data.iorad_id}}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <button class="btn btn-default modal-dismiss" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </footer>
            </form>
        </section>
    </div>
</div>
<!-- Modal Form For Iorad End-->