    {% include "itrak/includes/header.html" %}

    {% block body_block %}
        {% load static %}
        {% load templates_extras %}
    <main>
        <!-- start: page -->
        <section class="body-sign">
            <div class="center-sign">
                <a href="/" class="logo pull-left">
                    <img src="{% static 'itrak/images/logo.png' %}" height="54" alt="Porto Admin" />
                </a>

                <div class="panel panel-sign">
                    <div class="panel-title-sign mt-xl text-right">
                        <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> {{ user.username }}</h2>
                    </div>
                    <div class="panel-body">
                        {% for message in messages %}
                            <div class="alert {% if 'success' in message.tags %} alert-success {% elif 'warning' in message.tags %} alert-success {% elif 'error' in message.tags %} alert-danger {% endif %} alert-dismissible" role="alert">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                        <form role="form" action="{% url 'updatePassword' %}" method="post">
                            {% csrf_token %}

                            <input name="id" id="id" value="{{ user.id }}" type="hidden" />
                            <input name="user_id" id="user_id" value="{{ user.username }}" type="hidden" />
                            <input name="email_time" value="{{ userSentEmail.use_id }}" type="hidden" />

                            <!-- <div class="form-group mb-lg">
                                <label>Default Password <small id="defaultValid"></small></label>
                                <div class="input-group input-group-icon">
                                    <input name="default_password" id="default_password" type="password" class="form-control input-lg" />
                                    <span class="input-group-addon">
                                        <span class="icon icon-lg">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </span>
                                </div>
                            </div> -->

                            <div class="form-group mb-lg">
                                <label><strong>Password Requirements</strong></label>
                                <ul class="list-group text-muted" id="PasswordRequirements" data-min-length="8" data-require-mixed-case="False" data-require-alphanumeric="True">
                                        <li id="passwordTooShortError" class="validatable list-group-item ">
                                            Password must be at least 8 characters long
                                        </li>
                                        <li id="passwordRequiresAlphaNumeric" class="validatable list-group-item ">
                                                Password must contain letters and numbers
                                            </li>
                                        <li id="passwordsDoNotMatchError" class="validatable list-group-item  ">New and retyped passwords must match</li>
                                    
                                </ul>
                            </div>

                            <div class="form-group mb-lg">
                                <div class="clearfix">
                                    <label class="pull-left">New Password</label>
                                </div>
                                <div class="input-group input-group-icon">
                                    <input name="password1" id="password1" type="password" class="form-control input-lg new_password" required/>
                                    <span class="input-group-addon">
                                        <span class="icon icon-lg">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group mb-lg">
                                <div class="clearfix">
                                    <label class="pull-left">Confirm Password</label>
                                </div>
                                <div class="input-group input-group-icon">
                                    <input name="password2" id="password2" type="password" class="form-control input-lg new_password" required/>
                                    <span class="input-group-addon">
                                        <span class="icon icon-lg">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8">

                                </div>
                                <div class="col-sm-6 text-right">
                                    <button type="submit" class="btn btn-primary hidden-xs saveButton" disabled>Reset Password</button>
                                </div>
                                <small id="defaultValid"></small>
                            </div>

                            <span class="mt-lg mb-lg line-thru text-center text-uppercase">
                                <span>--</span>
                            </span>

                            <p class="text-center"><a href="{% url 'home' %}" class="pull-right">Go Back to Home Page</a></p>

                        </form>
                    </div>
                </div>

                <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2019. All rights reserved.</p>
            </div>
        </section>
        <!-- end: page -->
    </main>
    {% endblock %}

    {% include "itrak/includes/footer.html" %}

     {% block script %}
        <script>
            // $(document).on('keyup','#default_password', function(){
            //   var user_id = $('#user_id').val();
            //   var default_password = $(this).val();
            //   if (default_password!= ''){
            //       $.ajax({
            //         type: 'POST',
            //         url: '/validatePassword/',
            //         data: {id: user_id, password: default_password},
            //         dataType: 'json',
            //         beforeSend: function(jqXHR, settings) {
            //             //Do something before send...
            //         },
            //         success: function(data, textStatus, jqXHR) {
            //             if(data.response == 'false'){
            //                 $('#defaultValid').html('<strong class="text-danger"> (Default Password is not Right)</strong>');
            //                 $('.saveButton').prop('disabled', true);
            //             }else{
            //                 $('#defaultValid').html('');
            //                 $('.saveButton').prop('disabled', false);
            //             }
            //         },
            //         error: function(jqXHR, textStatus, errorThrown) {
            //             alert(textStatus + '. ' + errorThrown);
            //         }
            //       });
            //   }else{
            //       $('#defaultValid').html('');
            //       $('.saveButton').prop('disabled', true);
            //   }
            // });
            
            $(document).on('keyup','.new_password', function(){
                var old_password = $('#old_password').val()
                var password1 = $('#password1').val();
                var password2 = $('#password2').val();
                chk = check();
                if (password1!= '' && password2!= ''){
                        if(password1 === password2){
                            if(chk == true){
                                $('#defaultValid').html('');
                                if(old_password != '')
                                {
                                    $('.saveButton').prop('disabled', false);
                                }
                            }else{
                                $('#defaultValid').html('');
                                $('#defaultValid').html('<strong class="text-danger"> (Password must contain letters, numbers and must be 8 characters atleast!)</strong>');
                                $('.saveButton').prop('disabled', true);
                            }
                        }else{
                            $('#defaultValid').html('');
                            $('#defaultValid').html('<strong class="text-danger"> (Both Passwords did not match)</strong>');
                            $('.saveButton').prop('disabled', true);
                        }
                }
                else if(password1!='' && password2=='')
                {
                    chk1 = check1();
                    if(chk1 == true)
                    {
                        $('#defaultValid').html('');
                    }
                    else
                    {
                        $('#defaultValid').html('');
                        $('#defaultValid').html('<strong class="text-danger"> (Password must contain letters, numbers and must be 8 characters atleast!)</strong>');
                    }
                }
                else
                {
                    $('#defaultValid').html('');
                    $('.saveButton').prop('disabled', true);
                }
            });

            function check(){
                var password1 = $('#password1').val();
                var password2 = $('#password2').val();
                checker = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
                return(checker.test(password1) && checker.test(password2));
            }

            function check1(){
                var password1 = $('#password1').val();
                checker = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
                return(checker.test(password1));
            }

            // $(document).on('keyup','.new_password', function(){
            //   var password1 = $('#password1').val();
            //   var password2 = $('#password2').val();
            //   if (password1!= '' && password1!= '' ){
            //         if(password1 === password2){
            //             $('.saveButton').prop('disabled', false);
            //         }else{
            //             $('.saveButton').prop('disabled', true);
            //         }
            //   }else{
            //       $('.saveButton').prop('disabled', true);
            //   }
            // });

        </script>
    {% endblock %}
