    {% extends 'itrak/base.html' %}

    {% block body_block %}
        {% load static %}
        {% load tz %} {# it will Load the Django TimeZone Library#}
{#        {% get_current_timezone as TIME_ZONE %} {# it will Load the Current Time Zone List#}

				<section role="main" class="content-body">
					<header class="page-header">
                       <h2><i class="fa fa-free-code-camp" aria-hidden="true"></i> Solutions</h2>

						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'home' %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Solutions</span></li>
								<li><span>Edit Solutions</span></li>
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
                         <div class="row">
                            <div class="col-md-12">
                                {% for message in messages %}
                                    <div class="alert {% if 'success' in message.tags %} alert-success {% else %} alert-danger{% endif %} alert-dismissible" role="alert">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <form id="summary-form" action="{% url 'updateSolution' %}" method="post" class="form-horizontal">
                                    {% csrf_token %}
                                    <section class="panel">
                                        <header class="panel-heading">
{#                                            <div class="panel-actions">#}
{#                                                <a href="#" class="fa fa-caret-down"></a>#}
{#                                                <a href="#" class="fa fa-times"></a>#}
{#                                            </div>#}

                                            <h2 class="panel-title">Edit Solutions </h2>
                                        </header>
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-primary">Update</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </footer>
                                        <div class="panel-body">
                                            <div class="validation-message">
                                                <ul></ul>
                                            </div>
                                            <input type="hidden" name="solution_id" value="{{ data.solution_id }}"/>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label"><span class="required">*</span>Solution ID: </label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" name="solution_cus_id" id="solution_cus_id" value="{{ data.solution_cus_id }}" class="form-control" title="Please enter Priority." placeholder="eg.: ABC" required/>
                                                    <span id="solutionValid"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label" for="textareaDefault">Solution Text</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <textarea class="form-control" rows="3" name="solution_text" id="solution_text" data-plugin-maxlength maxlength="256">{{ data.solution_text }}</textarea>
                                                    <p>
                                                        <code>max-length</code> set to 256 characters.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-sm-4 control-label">Display Order: </label>
                                                <div class="col-md-4 col-sm-6">
                                                    <input type="text" name="display_order" class="form-control" value="{{ data.sol_display_order }}" title="Please enter Display Order." placeholder="eg.: 1" />
                                                </div>
                                            </div>

                                        </div>
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-primary">Update</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </footer>
                                    </section>
                                </form>
                            </div>
                        </div>
					<!-- end: page -->
				</section>
			</div>

    {% endblock %}


